.checkbox-field {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 40px;
    padding: 10px 0;
    box-sizing: border-box;
}

.aligner {
    display: flex;
    flex-direction: row;
}
