.menu-ref {
  height: 100%;
}

.menu-link {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 80px;
  height: 100%;
  text-align: center;
  text-overflow: ellipsis;
  white-space: nowrap;
  cursor: pointer;
}

.arrow-down {
  margin-left: 5px !important;
}
