.connect-sidebar {
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.connect-button {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    padding: var(--snft-sidebar-padding);
}

.connect-onboarding {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    padding: var(--snft-sidebar-padding);
}
