.button {
    margin: 5px 0 !important;
}

.fake-pro-item {
    position: relative;
    margin-right: 12px;
    padding-right: 2px;
}

.pro-pill {
    position: absolute;
    bottom: calc(100% - 8px);
    left: calc(100% - 3px);
}
