.root {
  composes: flex-column from '../../../common/styles/layout.pcss';
  margin-bottom: 30px;
}

.title {
  font-size: 20px;
  margin: 0 0 15px !important;
  padding: 0 !important;
}

.before-fields {
  display: block;
  margin-bottom: 15px;
}

.after-fields {
    display: block;
    margin-top: 15px;
}

.field-list {
  composes: flex-column from '../../../common/styles/layout.pcss';
  max-width: 600px;
}
