.row {
  display: flex;
  flex-flow: column nowrap;
  align-items: stretch;
}

.address {
  text-transform: lowercase;
  font-weight: bold;
  font-size: 12px;
  color: var(--snft-grey);
}

.name-field {

}
