.pill {
    display: inline-block;
    font-size: 10px;
    font-weight: bold;
    padding: 0 8px;
    height: 18px;
    line-height: 18px;
    border-radius: 7px;
    background: var(--snft-pro-bg-color);
    box-shadow: 0 2px 8px -2px rgba(0, 0, 0, 0.25);
    box-sizing: border-box;
    cursor: pointer;
}

.pill,
.pill:hover,
.pill:focus,
.pill:visited,
.pill:active {
    color: var(--snft-pro-fg-color);
    text-decoration: none !important;
}
