.root {
  composes: flex-column from "../../../common/styles/layout.pcss";
  padding: 0;
  margin: 0;
}

.before-groups, .after-groups {
  display: block;
}

.group-list {
  composes: flex-column from "../../../common/styles/layout.pcss";
}
