:root {
  --snft-dashicon-normal-size: 20px;
  --snft-dashicon-large-size: 40px;
}

.dashicon-large {
  font-size: var(--snft-dashicon-large-size);
  width: var(--snft-dashicon-large-size);
  height: var(--snft-dashicon-large-size);
  line-height: var(--snft-dashicon-large-size);
}

.dashicon-normal {
  font-size: var(--snft-dashicon-normal-size);
  width: var(--snft-dashicon-normal-size);
  height: var(--snft-dashicon-normal-size);
  line-height: var(--snft-dashicon-normal-size);
}
