.logo {
  position: relative;
  display: block;
  height: var(--snft-navbar-height);
  max-height: 100%;
  padding: 8px 0;
  box-sizing: border-box;
}

.logo-image {
  width: 38px;
  object-fit: contain;
  user-select: none;
  pointer-events: none;
  will-change: transform;
  transform: translateZ(0);
  image-rendering: -webkit-optimize-contrast;
}
