.root {
  position: relative;
  display: flex;
  flex-flow: column nowrap;
}

.password-form {
  display: flex;
  flex-flow: row nowrap;
  margin-top: 10px;
}

.password-field {
  flex: 1;
  margin-right: 5px;
}

.password-btn {
  flex: 0;
}

.error {
  margin-top: 10px;
}
